:root {
    --primary-color: #0b0c10;
    --secondary-color: #1f2833;
    --tertiary-color: #c5c6c7;
    --quarternary-color: #66fcf1;
}

body {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header and Nav Bar */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 56px;
    color: var(--quarternary-color);
    text-shadow: 0 0 10px rgb(102, 252, 241, 0.5);
}

header a {
    text-decoration: none;
    color: var(--quarternary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--quarternary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
  }
/* End of Header and Nav Bar */

/* Start of Footer */

/* End of Footer */

/* Start of Section Title */
.section-title {
    font-size: 36px;
    border-left: 3px solid var(--tertiary-color);
    border-bottom: 3px solid var(--tertiary-color);
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 10px auto 35px auto;
    width: 85%;
    color: var(--quarternary-color);
}
/* End of Section Title */

/* Start of About Me */
.bio {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    color: var(--tertiary-color);
    border-left: 3px solid ;
    border-bottom: 3px solid;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px auto 35px auto;
    width: 85%;
}

.bio img {
    height: 800px;
    width: 60%;
    border: 2px solid var(--quarternary-color);
}

.bio p {
    line-height: 1.2;
    font-size: 18px;
    width: 45%;
    text-align: center;
}

.bio p span {
    font-size: 22px;
    font-weight: bold;
    color: var(--quarternary-color);
    font-style: italic;
}
/* End of About Me */

/* Start of Projects */
.rb {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    color: var(--tertiary-color);
    border-left: 3px solid ;
    border-bottom: 3px solid;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px auto 35px auto;
    width: 85%;
}

.rb a img {
    height: 500px;
    width: 85%;
    border: 2px solid var(--quarternary-color);
    align-content: center;
}

.horiseon {
   width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    color: var(--tertiary-color);
    border-left: 3px solid ;
    border-bottom: 3px solid;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px auto 35px auto;
    width: 85%;
}

.horiseon img {
    height: 200px;
}
/* End of Projects */

/* Start of Contact Me */
.links {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    color: var(--tertiary-color);
    border-left: 3px solid ;
    border-bottom: 3px solid;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 10px auto 35px auto;
    width: 85%;
}

.links a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 20px;
}
/* End of Contact Me */


/* Media Queries */

@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }

      .bio img {
          height: 400px;
      }

      

}